In [1]:
import pandas as pd

In [2]:
path = "D:\Engineering Courses\Data Science\Projects\Data Science Project From Scratch\ds_salary_proj-master\glassdoor_jobs.csv"
df = pd.read_csv(path)

In [3]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [4]:
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [5]:
df.shape

(956, 15)

In [6]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

## Remving rows with -1 salary value

In [7]:
df = df[df['Salary Estimate'] != '-1']

## Removing unnamed column

In [8]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [9]:
df.shape

(742, 14)

## Salary

In [10]:
salary1 = df['Salary Estimate'].apply(lambda x:x.split('(')[0])
salary2 = salary1.apply(lambda x:x.replace('$','').replace('K',''))

In [11]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [12]:
df['employer provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary' in x.lower() else 0)

In [13]:
salary2 = salary2.apply(lambda x: x.lower().replace('per hour',''))

In [14]:
salary2 = salary2.apply(lambda x: x.lower().replace('employer provided salary:',''))

In [15]:
salary2.head()

0     53-91
1    63-112
2     80-90
3     56-97
4    86-143
Name: Salary Estimate, dtype: object

In [16]:
df['min_salary'] = salary2.apply(lambda x:int(x.split('-')[0]))

In [17]:
df['max_salary'] = salary2.apply(lambda x:int(x.split('-')[1]))

In [18]:
df['min_salary'] = df.apply(lambda x:x.min_salary * 2 if x.hourly == 1 else x.min_salary , axis = 1)
df['max_salary'] = df.apply(lambda x:x.max_salary * 2 if x.hourly == 1 else x.max_salary , axis = 1)

In [19]:
df['avg_salary'] = (df['min_salary'] + df['max_salary'])/2

In [20]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer provided', 'min_salary', 'max_salary',
       'avg_salary'],
      dtype='object')

## Job Title

In [21]:
def Job_simple(title):
    if 'scientist' in title.lower():
        return 'data scientist'
    
    elif 'data engineer' in title.lower():
        return 'data engineer'
    
    elif 'analyst' in title.lower():
        return 'analyst'
    
    elif 'machine learning' in title.lower():
        return 'mle'
    
    elif 'manager' in title.lower():
        return 'manager'
    
    elif 'director' in title.lower():
        return 'director'
    
    else:
        return 'NA'
    

def seniority(title):
    if 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    
    elif 'jr' in title.lower() or 'jr.' in title.lower() or 'junior' in title.lower():
        return 'jr'
    
    else:
        return 'NA'

In [22]:
df['Job_simp'] = df['Job Title'].apply(Job_simple)
df['Job_simp'].value_counts()

data scientist    438
data engineer     119
analyst           100
NA                 41
manager            21
mle                12
director           11
Name: Job_simp, dtype: int64

In [23]:
df['Seniority'] = df['Job Title'].apply(seniority)
df['Seniority'].value_counts()

NA        519
senior    220
jr          3
Name: Seniority, dtype: int64

## Company Name

In [24]:
df['company_txt'] = df.apply(lambda x:x['Company Name'][:-3] if int(x['Rating']) > 0  else x['Company Name'],axis = 1)

In [25]:
df['company_txt'] = df['company_txt'].apply(lambda x:x.replace('\n',''))

In [26]:
df['company_txt'].head()

0                        Tecolote Research
1    University of Maryland Medical System
2                                  KnowBe4
3                                     PNNL
4                       Affinity Solutions
Name: company_txt, dtype: object

## Founded

In [27]:
df['Age'] = df['Founded'].apply(lambda x:2020-int(x))

## Job Description

In [28]:
df['job_desc_len'] = df['Job Description'].apply(lambda x:len(x.split(',')))

In [29]:
df['Python'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df['Spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df['Excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df['AWS'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [30]:
df['Python'].value_counts()

1    392
0    350
Name: Python, dtype: int64

In [31]:
df['Spark'].value_counts()

0    575
1    167
Name: Spark, dtype: int64

In [32]:
df['Excel'].value_counts()

1    388
0    354
Name: Excel, dtype: int64

In [33]:
df['AWS'].value_counts()

0    566
1    176
Name: AWS, dtype: int64

## Location

In [34]:
df['State'] = df['Location'].apply(lambda x: x.split(',')[1])

In [35]:
df['Same State'] = df.apply(lambda x: 1 if x['Location'] == x['Headquarters'] else 0 ,axis = 1)

In [36]:
df['State'] = df['State'].apply(lambda x: 'CA' if x.lower() == 'los angeles' else x)

In [37]:
df['State'].value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 NC              21
 WA              21
 NJ              17
 FL              16
 OH              14
 TN              13
 CO              11
 DC              11
 UT              10
 WI              10
 IN              10
 AZ               9
 MO               9
 AL               8
 DE               6
 GA               6
 KY               6
 MI               6
 IA               5
 CT               5
 OR               4
 NE               4
 LA               4
 NM               3
 KS               3
 MN               2
 ID               2
 Los Angeles      1
 RI               1
 SC               1
Name: State, dtype: int64

## Competitors

In [38]:
df['num_comp'] = df['Competitors'].apply(lambda x:len(x.split(',')) if x != '-1' else 0)

In [39]:
df.to_csv('salary_data_cleaned.csv')

In [40]:
df

                                             Job Title  \
0                                       Data Scientist
1                            Healthcare Data Scientist
2                                       Data Scientist
3                                       Data Scientist
4                                       Data Scientist
5                                       Data Scientist
6                                       Data Scientist
7                                       Data Scientist
8                                   Research Scientist
9                                       Data Scientist
10                                      Data Scientist
11                                      Data Scientist
12                   Staff Data Scientist - Technology
13                                        Data Analyst
14                                      Data Scientist
15                                     Data Engineer I
16                             Scientist I/II, Biology
17                             Customer Data Scientist
18              Data Scientist - Health Data Analytics
19                                      Data Scientist
20                                      Data Scientist
21            Senior Data Scientist / Machine Learning
22                       Data Scientist - Quantitative
23                                      Data Scientist
25                                      Data Scientist
26                       Digital Health Data Scientist
27                                      Data Scientist
28                              Associate Data Analyst
29                             Clinical Data Scientist
30                                      Data Scientist
31                                      Data Scientist
32                                      Data Scientist
33            Data Scientist / Machine Learning Expert
34                                      Data Scientist
35                                      Data Scientist
36                                    Web Data Analyst
37                                      Data Scientist
38                                      Data Scientist
39                               Senior Data Scientist
40                                       Data Engineer
41                                        Data Analyst
43                                       Data Engineer
44             Data Scientist - Algorithms & Inference
45                                           Scientist
46                               Senior Data Scientist
48                                      Data Scientist
49                                 Lead Data Scientist
50                              Associate Data Analyst
51                         Spectral Scientist/Engineer
52   College Hire - Data Scientist - Open to Decemb...
54                                      Data Scientist
55              Data Scientist, Office of Data Science
56                                Data Science Analyst
57                                      Data Scientist
58                                      Data Scientist
59                                      Data Scientist
60                                      Data Scientist
61                                      Data Scientist
62                                      Data Scientist
63                                      Data Scientist
65                               Senior Data Scientist
66                                      Data Scientist
67                          Senior Risk Data Scientist
68   Data Scientist in Artificial Intelligence Earl...
70                                      Data Scientist
72                                      Data Scientist
73                                      Data Scientist
75                           Data Scientist - Research
76                                      Data Scientist
77                         R&D Data Analysis Scientist
78                                Analytics Consultant
79                              Director, Data Science
80                                           Scientist
81                                   Data Scientist SR
82                                      Data Scientist
83                               R&D Sr Data Scientist
84         Customer Data Scientist/Sales Engineer (Bay
85                                  Research Scientist
86                                      Data Scientist
87                                      Data Scientist
88                                      Data Scientist
89                           Jr. Business Data Analyst
90                                      Data Scientist
91                                        Data Analyst
92                                       Data Engineer
93                                        Data Analyst
94                   Staff Data Scientist - Technology
95                                      Data Scientist
96                                      Data Scientist
97                          Data Management Specialist
99                             E-Commerce Data Analyst
101                                   Sr. Scientist II
102                           Insurance Data Scientist
104                                       Data Modeler
105                           Data Analyst / Scientist
106                                          Scientist
107                                     Data Scientist
108                                     Data Scientist
109                                       Data Analyst
110                                Lead Data Scientist
112                                     Data Scientist
113                                     Data Scientist
116                    Data Scientist, Rice University
117                              Senior Data Scientist
118                                      Data Engineer
119                              Senior Data Scientist
120                             Financial Data Analyst
122                                Senior Data Analyst
123                                 Research Scientist
124                                     Data Scientist
125                                      Data Engineer
126                                     Data Scientist
127                                     Data Scientist
128                                     Data Scientist
129                                      Data Engineer
130                                  Ag Data Scientist
131                                     Data Scientist
132                                      Data Engineer
136                                  Data Scientist II
137                               Senior Data Engineer
138                                     Data Scientist
139                                     Data Scientist
140                                      Data Engineer
141                                      Data Engineer
142                                       Data Analyst
143                                  Project Scientist
145                                     Data Scientist
146                             Data Analytics Manager
147  Senior Machine Learning (ML) Engineer / Data S...
148                                     Data Scientist
150                              Senior Data Scientist
152                                     Data Scientist
153                                Associate Scientist
154                       Scientist 2, QC Viral Vector
156                          Machine Learning Engineer
157                         Data Scientist/ML Engineer
158                                     Data Scientist
159                            Customer Data Scientist
161                                      Data Engineer
162                                      Data Engineer
164                                 Sr. Data Scientist
166                         Data Engineer 4 - Contract
167                    Data Analyst - Asset Management
168  Senior Research Scientist - Embedded System De...
169                    Data Scientist - Bioinformatics
170                                      Data Engineer
171             Customer Data Scientist/Sales Engineer
172                                Lead Data Scientist
174                           MongoDB Data Engineer II
175                   Senior Data Scientist Statistics
177                                Senior Data Analyst
178               Senior Spark Engineer (Data Science)
179                                      Data Engineer
180                    BI & Platform Analytics Manager
181                                Lead Data Scientist
182  Sr. Data Scientist - Analytics, Personalized H...
183                              Senior Data Scientist
185  Pricipal Scientist Molecular and cellular biol...
187               Data Scientist (Actuary, FSA or ASA)
188                               Staff Data Scientist
190           Senior Data Scientist / Machine Learning
191             Data Scientist - Health Data Analytics
192                Data Engineer 5 - Contract (Remote)
193                    Senior Scientist - Neuroscience
194                                Senior Data Analyst
197                              Medical Lab Scientist
198              Risk and Analytics IT, Data Scientist
199                  Scientist, Analytical Development
200                              Senior Data Scientist
201                                  Analytics Manager
202                                      Data Engineer
203         Digital Marketing & ECommerce Data Analyst
204  Sr. Scientist - Digital & Image Analysis/Compu...
205                                Senior Data Analyst
206                 Principal Scientist - Immunologist
207                              Senior Data Scientist
208  Principal Data Scientist with over 10 years ex...
209                MED TECH/LAB SCIENTIST - LABORATORY
210  Sr. Scientist, Quantitative Translational Scie...
211                              Sr. Data Scientist II
212                     Excel / VBA / SQL Data Analyst
213                Machine Learning Research Scientist
215                                   VP, Data Science
216                              Senior Data Scientist
217                                 Radar Data Analyst
221                   PL Actuarial-Lead Data Scientist
223                                       PV Scientist
224           Senior Data & Machine Learning Scientist
225  Principal Data Scientist (Computational Chemis...
226                                      Data Engineer
228        Principal Scientist, Chemistry & Immunology
229             Software Engineer - Data Visualization
230             Scientist/Senior Scientist, Autoimmune
233                    Staff Machine Learning Engineer
234                    Principal Scientist, Hematology
235                                 Lead Data Engineer
239                             Marketing Data Analyst
240                       Medical Laboratory Scientist
242                     R&D Specialist/ Food Scientist
243         Senior Research Scientist-Machine Learning
245                      Analytics Manager - Data Mart
246        Sr. Data Engineer - Contract-to-Hire (Java)
247          MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB
248                         Food Scientist - Developer
250     Staff Scientist-Downstream Process Development
251                                  Sr. Data Engineer
253                      Data Scientist - Quantitative
254                                     Data Scientist
255       Senior Research Statistician- Data Scientist
256                         Business Data Analyst, SQL
257  Medical Technologist / Clinical Laboratory Sci...
258                                     Data Scientist
259                                Senior Data Analyst
260                    BI & Platform Analytics Manager
262                                      Data Engineer
263                                     Data Scientist
264                                       Data Analyst
265        Associate Data Scientist/Computer Scientist
266          Business Intelligence Analyst / Developer
267                                Lead Data Scientist
268  Sr. Data Scientist - Analytics, Personalized H...
269                              Senior Data Scientist
270                                       Data Analyst
273  Pricipal Scientist Molecular and cellular biol...
274                                       Data Analyst
275                                       Data Analyst
276                               Staff Data Scientist
277               Data Scientist (Actuary, FSA or ASA)
278                            System and Data Analyst
281                                     Data Scientist
282                Data Engineer 5 - Contract (Remote)
284                      Digital Health Data Scientist
285                                     Data Scientist
288                  Data & Analytics Consultant (NYC)
289                    Senior Scientist - Neuroscience
290                                      Data Engineer
291   Big Data Engineer - Chicago - Future Opportunity
292                                Senior Data Analyst
293                                     Data Scientist
295                                Survey Data Analyst
296                                     Data Scientist
299                                     Data Scientist
300              Risk and Analytics IT, Data Scientist
302                                     Data Scientist
305               Lead Health Data Analyst - Front End
306                                 Research Scientist
307                              Medical Lab Scientist
308                                Junior Data Analyst
309                                  SQL Data Engineer
310                                     Data Scientist
311                              Senior Data Scientist
312                                     Data Scientist
313                  Scientist, Analytical Development
314                                  Analytics Manager
316                            Clinical Data Scientist
317                                     Data Scientist
318     Sr. Data Scientist, Cyber-Security LT Contract
319                                      Data Engineer
320                                     Data Scientist
322  Sr. Scientist - Digital & Image Analysis/Compu...
323         Digital Marketing & ECommerce Data Analyst
324                 Principal Scientist - Immunologist
325                                Senior Data Analyst
326                   Insurance Financial Data Analyst
328                                     Data Scientist
330                                     Data Scientist
331  Principal Data Scientist with over 10 years ex...
332                                      Data Engineer
333                              Senior Data Scientist
334                            Data Engineer I - Azure
335  Sr. Scientist, Quantitative Translational Scie...
337                MED TECH/LAB SCIENTIST - LABORATORY
339                              Sr. Data Scientist II
341                                     Data Scientist
342                  Information Security Data Analyst
344                     Excel / VBA / SQL Data Analyst
346                Machine Learning Research Scientist
347                                     Data Scientist
348                                     Data Scientist
349                                     Data Scientist
350                                     Data Scientist
351                              Senior Data Scientist
352                             Data Scientist, Senior
353                              Senior Data Scientist
354                                   VP, Data Science
355                                 Radar Data Analyst
356                   CONSULTANT– DATA ANALYTICS GROUP
357                                      Data Engineer
358                              Senior Data Scientist
362  Data Engineer, Data Engineering and Artifical ...
364                                    Staff Scientist
366                   PL Actuarial-Lead Data Scientist
367  Associate Scientist/Scientist, Process Analyti...
368                                   Sr. Data Analyst
369           Senior Data & Machine Learning Scientist
370                               Program/Data Analyst
371                                      Data Engineer
372  Senior Data Scientist: Causal & Predictive ana...
375  Principal Data Engineer, Data Platform & Insights
376             RESEARCH SCIENTIST - BIOLOGICAL SAFETY
377                               Data Operations Lead
379                                  Big Data Engineer
380           Data Scientist / Machine Learning Expert
381                                     Data Scientist
382                              Senior Data Scientist
383                                       PV Scientist
384                              Clinical Data Analyst
386                                      Data Engineer
387               Computational Chemist/Data Scientist
388                                      Data Engineer
390  Principal Data Scientist (Computational Chemis...
391                    Product Engineer – Data Science
392        Principal Scientist, Chemistry & Immunology
394             Scientist/Senior Scientist, Autoimmune
396                                     Data Scientist
397                                Market Data Analyst
398             Software Engineer - Data Visualization
399                                      Data Engineer
400                                Staff Data Engineer
401                            Associate Data Engineer
403                              Senior Data Scientist
406                         Staff BI and Data Engineer
407                             Marketing Data Analyst
409                    Principal Scientist, Hematology
410                                       Data Analyst
411         Director - Data, Privacy and AI Governance
412                                     Data Scientist
413                                     Data Scientist
414                    Staff Machine Learning Engineer
415                  Information Security Data Analyst
416                                 Lead Data Engineer
417   Scientist Manufacturing - Kentucky BioProcessing
419                     Data Analytics Project Manager
420                  Consultant - Analytics Consulting
421                                      Data Engineer
425                             Marketing Data Analyst
426                    Senior Scientist (Neuroscience)
427                       Medical Laboratory Scientist
428             Machine Learning Engineer - Regulatory
429                     R&D Specialist/ Food Scientist
430                                      Data Engineer
431                            Scientist, Bacteriology
433  Associate Director, Platform and DevOps- Data ...
434         Senior Research Scientist-Machine Learning
435                              Senior Data Scientist
437                      Clinical Laboratory Scientist
442                      Analytics Manager - Data Mart
443        Sr. Data Engineer - Contract-to-Hire (Java)
444            Data Scientist - Algorithms & Inference
446               Senior Data Scientist - R&D Oncology
447                                      Data Engineer
448                         Food Scientist - Developer
449                              Senior Data Scientist
450                                      Data Engineer
452          Director II, Data Science - GRM Actuarial
454            Scientist, Molecular/Cellular Biologist
455     Staff Scientist-Downstream Process Development
456          MED TECH/LAB SCIENTIST- SOUTH COASTAL LAB
458                    Scientist - Analytical Services
459  Associate Data Analyst- Graduate Development P...
461                                  Sr. Data Engineer
462                    Senior Insurance Data Scientist